<p>cotacao works!</p>
<form>

    <select [(ngModel)]="selectedMarca" (change)="getModelos()" name="marca">
        <option value="">Marca</option>
        @for (marca of marcas; track $index) {
        <option [value]="marca.codigo">{{marca.nome}}</option>
        }
    </select>

    <select [(ngModel)]="selectedModelo" (change)="getAnos()" name="modelo">
        <option value="">Modelo</option>
        @for (modelo of modelos; track $index) {
        <option [value]="modelo.codigo">{{modelo.nome}}</option>
        }
    </select>

    <select [(ngModel)]="selectedAno" (change)="getCotacao()"  name="ano">
        <option value="">Ano</option>
        @for (ano of anos; track $index) {
        <option [value]="ano.codigo">{{ano.nome}}</option>
        }
    </select>

    <select [(ngModel)]="selectedValor" name="valor">
        <option value="">Valor</option>
    </select>

</form>